{% extends 'elegislative/dashboard.html' %}
{% load static %}
{% load humanize %} 
{% block title %}
e-Legislative Announcement
{% endblock title%}

<!-- CSS -->
{% block additional_css %} 

{% endblock additional_css %}

<!-- navigation -->
{% block nav_dashboard %}
<li class="treeview">
    <a href="{% url 'elegislative:dashboard_page' %}" >
    <i class="fa fa-dashboard" ></i> <span>Dashboard</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
    </span>
    </a>
    <ul class="treeview-menu">
    <li class="active"><a href="{% url 'elegislative:dashboard_page' %}"><i class="fa fa-circle-o"></i> Dashboard</a></li> 
    </ul>
</li>
{% endblock nav_dashboard %}

{% block nav_announcements %}
<li class="active">
  <a href="{% url 'elegislative:announcements' %}" data-toggle="tooltip" title="Announcement">
    <i class="fa fa-volume-up"></i> <span>Announcements</span>
    <span class="pull-right-container">
      <small class="label pull-right bg-green">new</small>
    </span>
  </a>
</li>
{% endblock nav_announcements %}
       

{% block main_content %} 
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Announcement
            <small>Manage announcements</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'elegislative:dashboard_page' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Announcements</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                
            </div>
        </div>
    </section>
</div>
{% endblock main_content %} 

<!-- Javascript -->
   
{% block additional_js %} 
        
{% endblock additional_js %}
