{% extends 'elegislative/dashboard.html' %}
{% load static %} 
{% load custom_tags%}
{% load humanize %} 
{% block title %}
e-Legislative Speech Recognition
{% endblock title%}



<!-- CSS -->
{% block additional_css %} 
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">

<style>
    table td{
        text-align: center; 
        vertical-align: middle !important;
    }
</style>
{% endblock additional_css %}

<!-- navigation -->
{% block nav_dashboard %}
<li class="treeview">
    <a href="{% url 'elegislative:dashboard_page' %}" >
    <i class="fa fa-dashboard" ></i> <span>Dashboard</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
    </span>
    </a>
    <ul class="treeview-menu">
    <li class="active"><a href="{% url 'elegislative:dashboard_page' %}"><i class="fa fa-circle-o"></i> Dashboard</a></li> 
    </ul>
</li>
{% endblock nav_dashboard %}


{% block nav_speech_recognition %}
<li class="active"> 
  <a href="{% url 'elegislative:speech_recognition' %}" data-toggle="tooltip" title="Trash">
    <i class="fa fa-fw fa-file-word-o text-orange"></i> <span>Speech Recognition</span>
    <span class="pull-right-container">
      <small class="label pull-right bg-green"></small>
    </span>
  </a>
</li>
{% endblock nav_speech_recognition %}


{% block main_content %} 
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Speech Recognition
            <small>Manage speech recognition</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'elegislative:dashboard_page' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">speech recognition</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Speech Recognition Table</h3>
                        {% if not user.is_view_mode %}
                        <div class="box-tools"> 
                            <ul class="pagination pagination-sm no-margin pull-right">
                              <li><a id="" href="" data-toggle="tooltip" title="Create new speech recognition"><i class="fa fa-fw fa-plus"></i>Create new speech recognition</a></li>  
                            </ul>
                        </div> 
                        {% endif %}
                    </div>
                    <div class="box-body">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock main_content %} 

<!-- Javascript -->
   
{% block additional_js %} 

<!-- DataTables -->
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script> 
        
{% endblock additional_js %}