{% extends 'elegislative/dashboard.html' %}
{% load static %}
{% load custom_tags %}
{% load humanize %} 
{% block title %}
e-Legislative Old Documents
{% endblock title%}


<!-- CSS -->
{% block additional_css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/datatables.net/css/select.dataTables.min.css' %}"> 
<link rel="stylesheet" href="{% static 'bower_components/datatables.net/css/buttons.dataTables.min.css' %}">
<!-- <link rel="stylesheet" href="{% static 'bower_components/datatables.net/css/jquery.dataTables.min.css' %}">  -->
 
<style>
    
    table .display-text{
      white-space: nowrap; 
      max-width: 200px; 
      overflow: hidden;
      text-overflow: ellipsis; 
    }
 
</style>
{% endblock additional_css %}


{% block nav_dashboard %}
<li class="treeview">
    <a href="{% url 'elegislative:dashboard_page' %}" >
    <i class="fa fa-dashboard" ></i> <span>Dashboard</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
    </span>
    </a>
    <ul class="treeview-menu">
    <li class="active"><a href="{% url 'elegislative:dashboard_page' %}"><i class="fa fa-circle-o"></i> Dashboard</a></li> 
    </ul>
</li>
{% endblock nav_dashboard %}

{% if request.user.is_old_documents_manager %}
    {% block nav_old_documents %}
    <li class="active">
        <a href="{% url 'elegislative:old_documents' %}" data-toggle="tooltip" title="Old Documents">
        <i class="fa fa-book"></i> <span>Old Documents</span>
        <span class="pull-right-container">
            <small class="label pull-right bg-green"></small>
        </span>
        </a>
    </li>
    {% endblock nav_old_documents %}
{% endif %}

{% block main_content %} 
 
<div class="content-wrapper">
    <section class="content-header">
        <h1>
        Old Documents
        <small>Manage Existing Documents</small>
        </h1>
        <ol class="breadcrumb">
        <li><a href="{% url 'elegislative:dashboard_page' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Old Documents</li>
        </ol>
    </section>
    <section class="content">
        <div class="row"> 
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Old Documents Table</h3> 
                        <div class="box-tools"> 
                            <ul class="pagination pagination-sm no-margin pull-right">
                              <li><a href="{% url 'elegislative:upload_old_documents' %}" data-toggle="tooltip" title="Upload Files"><i class="fa fa-upload"></i>Upload Files</a></li>  
                            </ul>
                        </div>   
                    </div>
                    <div class="box-body">
                        <table id="table_old_documents" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 10px;"></th>
                                    <th>#</th>
                                    <th>File</th>
                                    <th>Name</th> 
                                    <th>Size(byte)</th> 
                                    <th>C-Type</th>   
                                    <th>Year</th>
                                    <th>Remarks</th>
                                    <th>Date Uploaded</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for o in old_documents %}
                                <tr>
                                    <td class="select-checkbox" data-id="{{o.id}}"></td>
                                    <td>{{o.id}}</td>
                                    <td><a href="{{o.files.url}}" >{{o.files.url}}</a></td>
                                    <td>{{o.name}}</td>
                                    <td>{{o.size}}</td>
                                    <td>{{o.content_type}}</td>
                                    <td>{{o.year}}</td>
                                    <td>{{o.remarks}}</td>
                                    <td>{{o.date_uploaded}}</td>
                                    <td><a href="{{o.files.url}}" download data-toggle="tooltip" title="download">download</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer no-padding">
                        <div class="mailbox-controls"> 
                            <div class="btn-group">
                              <button type="button" class="btn btn-default btn-sm" id="btn-select-all"><i class="fa fa-square-o"></i></button> 
                              <button type="button" class="btn btn-default btn-sm" id="btn-delete" data-url="{% url 'elegislative:delete_old_documents' %}"><i class="fa fa-trash-o"></i></button> 
                            </div> 
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>
</div>
{% endblock main_content %} 
{% block additional_js %}


<!-- DataTables -->
<!-- In Order -->
<!-- https://datatables.net/extensions/buttons/examples/initialisation/export.html -->
<!-- https://stackoverflow.com/questions/54873945/datatables-uncaught-typeerror-cannot-set-property-pdfmake-of-undefined -->
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script> 
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.js' %}"></script> 
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net/js/jszip.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net/js/pdfmake.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net/js/vfs_fonts.js' %}"></script>
<script src="{% static 'bower_components/datatables.net/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net/js/buttons.print.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net/js/dataTables.select.min.js' %}"></script>

 
 
<script src="{% static 'js/old_documents.js' %}"></script> 


{% endblock additional_js %}